# This file is a list of the people responsible for ensuring that patches for a
# particular part of SwiftSyntax are reviewed, either by themselves or by
# someone else. They are also the gatekeepers for their part of Swift, with the
# final word on what goes in or not.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

# NOTE: This repo requires code owner review before a PR can be merged. As such,
# it's important to ensure that no component only has a single owner.

# Owner of anything in SwiftSyntax not owned by anyone else.
* @ahoppen @hamishknight @rintaro @hborla

# Macros
/Sources/SwiftSyntaxMacros @DougGregor @ahoppen @hamishknight @rintaro @hborla
/Tests/SwiftSyntaxMacrosTest @DougGregor @ahoppen @hamishknight @rintaro @hborla

# SwiftOperators
/Sources/SwiftOperators @DougGregor @ahoppen @hamishknight @rintaro @hborla
/Tests/SwiftOperatorsTest @DougGregor @ahoppen @hamishknight @rintaro @hborla

# SwiftLexicalLookup
/Sources/SwiftLexicalLookup @xedin @ahoppen @hamishknight @rintaro @hborla
/Tests/SwiftLexicalLookupTest @xedin @ahoppen @hamishknight @rintaro @hborla

/utils/bazel @keith @ahoppen @hamishknight @rintaro @hborla
*.bazel @keith @ahoppen @hamishknight @rintaro @hborla
WORKSPACE @keith @ahoppen @hamishknight @rintaro @hborla
.bazelrc @keith @ahoppen @hamishknight @rintaro @hborla
.bazelversion @keith @ahoppen @hamishknight @rintaro @hborla
