##===----------------------------------------------------------------------===##
##
## This source file is part of the Swift.org open source project
##
## Copyright (c) 2014 - 2025 Apple Inc. and the Swift project authors
## Licensed under Apache License v2.0 with Runtime Library Exception
##
## See https://swift.org/LICENSE.txt for license information
## See https://swift.org/CONTRIBUTORS.txt for the list of Swift project authors
##
##===----------------------------------------------------------------------===##

common --check_direct_dependencies=off
common --lockfile_mode=off

build --features=swift.use_explicit_swift_module_map
build --host_features=swift.use_explicit_swift_module_map

common --flag_alias=swiftcopt=@build_bazel_rules_swift//swift:copt
common --flag_alias=host_swiftcopt=@build_bazel_rules_swift//swift:exec_copt

# Improved build performance
build --host_swiftcopt=-whole-module-optimization
build --swiftcopt=-whole-module-optimization

# Keep in sync with Package.swift
# TODO: https://github.com/bazelbuild/rules_swift/issues/1664
build --host_macos_minimum_os=13.0
build --macos_minimum_os=13.0

test --test_output=errors
