[flake8]

filename =
    *.py,
    list_tests/lit.cfg,

exclude =
    .git,
    __pycache__,

    # Ignore non-Python directories.
    Sources,
    Tests,
    utils,

extend-ignore =
    # The black tool treats slices consistently, the E203 warning is not PEP8
    # compliant (https://github.com/psf/black#slices).
    E203,

    # Line breaks before binary operators are not explicitly disallowed in
    # PEP8, rather it should be consistent throughout the project. The black
    # tool puts them on new lines which is to be considered a best practice
    # in the future.
    W503,

# 10% larger than the typical 80, conforms to the black standard.
max-line-length = 88
