# Ignore Swift Package Manager build artifacts directory.
.build/
# Ignore generated Xcode projects
*.xcodeproj
# Ignore Data Xcode stores when opening the project directly
/.swiftpm/xcode

# We always build swiftSyntax of trunk dependencies. Ignore any fixed 
# dependency versions.
Package.resolved

.DS_Store
*.pyc